cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
frozendict==1.2
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
Owlready2==0.29
PyLD==2.0.3
pyparsing==2.4.7
rdflib==5.0.0
requests==2.25.1
six==1.15.0
urllib3==1.26.4
Werkzeug==1.0.1
